<li>
  <%= question.body %><br>
  <%= link_to link_to t('shared.actions.show'), admins_question_path(question) %> |
  <%= link_to t('shared.actions.edit'), edit_admins_question_path(question) %> |
  <%= link_to t('shared.actions.delete'), admins_question_path(question), method: :delete,
                     data: { confirm: t('shared.confirmation')} %>
</li>
