<li class="list-group-item">
  <%= question.body %><br>
  <%= link_to link_to t('shared.actions.show'), admins_question_path(question), class: 'link-info'  %> |
  <%= link_to t('shared.actions.edit'), edit_admins_question_path(question), class: 'link-primary' %> |
  <%= link_to t('shared.actions.delete'), admins_question_path(question), method: :delete, class: 'link-danger',
                     data: { confirm: t('shared.confirmation')} %>
</li>
