<li>
  <%= question.body %><br>
  <%= link_to 'Show', admins_question_path(question) %> |
  <%= link_to 'Edit', edit_admins_question_path(question) %> |
  <%= link_to 'Delete', admins_question_path(question), method: :delete,
                     data: { confirm: 'Are you sure?' } %>
</li>
