<li>
  <%= answer.body %><br>
  <%= link_to 'Show', admins_answer_path(answer) %> |
  <%= link_to 'Edit', edit_admins_answer_path(answer) %> |
  <%= link_to 'Delete', admins_answer_path, method: :delete, data: { confirm: 'Are you sure?' } %>
</li>
