<br>
<div> Current year: <%= current_year %></div>
<div> Author: Starostenko Anastasiia </div>
<div> Project: <%= link_to 'Test guru', 'https://github.com/Nastya-Starostenko/test-guru' %> </div>
<div> Program where user can create and pass the tests. You can read about project <%= link_to 'here', '/about'%></div>
<div> Test project in online school <%= link_to 'Thinknetica', 'https://thinknetica.com', target: '_blank' %></div>
