<div class="row position-absolute bottom-0 mb-4">
  <p> Current year: <%= current_year %></p>
  <p> Author: Starostenko Anastasiia </p>
  <p> Project: <%= link_to 'Test guru', 'https://github.com/Nastya-Starostenko/test-guru' %> </p>
  <p> Program where user can create and pass the tests. You can read about project <%= link_to 'here', '/about' %></p>
  <p> Test project in online school <%= link_to 'Thinknetica', 'https://thinknetica.com', target: '_blank' %></p>
</div>
